* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Abel;
    scroll-behavior: smooth;
  }
  
  :root {
    --green: rgb(175, 130, 96);
    --red: rgb(128, 61, 59);
    --black: rgb(50, 44, 43);
  }
  
  header {
    position: sticky;
    top: 0px;
    z-index: 999;
  }
  
  #navbar {
    height: 50px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--green);
    padding-right: 30px;
  }
  
  a.nav {
    padding: 0px 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: ease-out 0.2s;
  }
  
  a.nav:hover {
    background-color: rgba(228, 197, 158, 0.7);
    height: 46px;
    align-items: center;
    display: flex;
    transform: scale(1.1);
  }
  
  #welcome-section {
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  
  .intro h1, .intro p {
    text-align: center;
  }
  
  .intro h1 {
    color: white;
    font-size: 60px
  }
  
  .intro p {
    color: var(--green);
    font-size: 40px;
    font-style: italic;
  }
  
  #projects {
    height: auto;
    width: auto;
    background-color: var(--red);
    
  }
  
  #projects .ttitle {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 3px solid white;
    padding-top: 40px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: grid;
  }

  img {
    width: 350px;
    height: 250px;
    object-fit: fill;
    position: relative;
    top: 7px;
    z-index: 1;
  }
  
  #projects {
    display: grid;
    grid-template-columns: 1fr 350px 350px 350px 1fr ;
    grid-template-rows: 100px 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    padding-bottom: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .project-1 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 3px var(--black) solid;
  }
  
  .project-2 {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border: 3px var(--black) solid;
  }
  
  .project-3 {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    border: 3px var(--black) solid;
  }
  
  .project-4 {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border: 3px var(--black) solid;
  }

  .project-5 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: 3px var(--black) solid;
  }

  .project-6 {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    border: 3px var(--black) solid;
  }
  
  #contact {
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  
  .ending {
    text-align: center;
    color: white;
  }
  
  .ending h1 {
    font-size: 40px;
  }
  
  .ending p {
    font-size: 30px;
    font-style: italic;
  }
  
  .contacts a {
    color: white;
    text-decoration: none;
    text-shadow: 4px 5px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    font-size: 20px;
    position: relative;
    transition: ease-out 0.3s;
  }
  
  .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h4 {
    padding: 0px 5px
  }
  
  
  
  .contacts a:hover {
    transform: translateY(10px);
    color: var(--green);
  }
  
   #projects a {
     text-decoration: none;
     color: white;
     transition: ease-out 0.2s;
     font-weight: bold;
     font-size: 24px;
     
   }
  
   .project-name {
     background-color: var(--black);
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0px;
     margin: 0px;
  }
  
  .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
     width: 350px;
     border: none;
     padding: 0px;
     margin: 0px;
     text-align: center;
     transition: ease-out 0.3s;
     border-radius: 5px;
   }
  
   #projects a:hover {
     color: var(--green);
     transform: scale(1.05);
   }
  
  
  @media (max-width: 1150px) {
   #projects {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
    align-items: center;
   }
  
   .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
     width: 213px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     transition: ease-out 0.3s;
     border-radius: 5px;
   }
  
   .project-name {
     background-color: rgb(70, 70, 70);
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
  
   }
  
   #projects a {
     text-decoration: none;
     color: white;
     transition: ease-out 0.2s;
     font-weight: bold;
     font-size: 20px
   }
  
   #projects a:hover {
     color: var(--green);
   }
  
   .intro h1 {
     font-size: 40px
   }
  }
  
  
